.el-button {
  @apply outline-none;

  &:focus {
    @apply outline-none;
  }

  // Span
  span {
    @apply flex items-center justify-center;
  }

  // Large Size
  &--large {
    @apply px-4 text-base leading-5;

    padding-top: 13px;
    padding-bottom: 13px
  }

  // Medium/Small/Mini Size
  &--medium,
  &--small,
  &--mini {
    @apply leading-4;
  }

  // Secondary
  &--secondary {
    @apply text-brand-500 bg-brand-100 border-brand-100;

    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:focus,
    &.is-disabled:active {
      @apply text-brand-300 bg-brand-100 border-brand-100;
    }
  }

  // Ghost
  &--ghost {
    @apply text-white bg-transparent border-white;

    &:hover,
    &:focus {
      @apply text-white border-white;

      background: rgba(white, .1);
    }

    &:active {
      @apply border-white;

      background-color: rgba(black, .08);
    }

    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:focus,
    &.is-disabled:active {
      @apply text-neutral-400 bg-transparent border-neutral-500;
    }
  }

  // Text Button
  &--text {
    &.el-button--large {
      padding-left: 0;
      padding-right: 0;
    }
  }

  // Icon Only
  &--icon-only {
    padding-left: 11px;
    padding-right: 11px;

    &.el-button--large {
      padding-left: 13px;
      padding-right: 13px;
    }

    &.el-button--small {
      padding-left: 7px;
      padding-right: 7px;
    }

    &.el-button--mini {
      padding-left: 3px;
      padding-right: 3px;
    }

    &.el-button--text {
      @apply text-neutral-600;

      &:hover,
      &:focus {
        @apply bg-neutral-20;
      }

      &:active {
        @apply bg-neutral-30;
      }
    }
  }
}