
/* 
  Basic
*/

// Button
.el-button {
  &--medium {
    @apply px-4 leading-5;
    
    padding-top: 13px;
    padding-bottom: 13px;
  }

  span {
    @apply flex items-center justify-center;
  }
}


/* 
  Form
*/

// Input
.el-input {

  &--medium {
    .el-input__inner {
      @apply px-5;
    }
    .el-input__suffix {
      right: 12px;
    }
  }
}

// Form
.el-form-item {
  @apply mb-6;
}