// #{!important} used for override the inline styles

.ym-sidebar {
  .el-menu:not(.el-menu--collapse) {
    width: 200px;
  }

  // Menu
  &__menu {
    // The padding-left of submenu
    & > .el-submenu {
      & > .el-menu {
        .el-menu-item,
        .el-menu-item-group__title {
          padding-left: 52px !important;
        }
      }
    }
  }

  &__footer {
    width: 200px;

    &--collapse {
      width: 64px;
    }
  }
  
  // Menu Item
  .el-menu-item {
    &.is-active {
      @apply text-white bg-brand-600 #{!important};
    }
  }

  // Submenu
  .el-submenu {
    &__title {
      @apply flex items-center h-12 pl-4 pr-3 text-brand-200 #{!important};

      &:hover {
        @apply text-white bg-brand-600;
      }

      &:focus {
        @apply bg-brand-600;       
      }     
    }

    &__icon-arrow {
      @apply text-sm text-brand-100;

      right: 16px;
      margin-top: -10px;
    }

    .el-menu {
      @apply bg-transparent;
    }
  }

  .el-menu-item-group {
    &__title {
      @apply leading-none text-brand-400 py-2;
    }
  }
}