@import 'variable';

/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss or
`https://github.com/ElemeFE/element/blob/dev/packages/theme-chalk/src/common/var.scss`.

Tip: These must be declared before the import and will automatically override the Element defaults.
For example, to overwrite the theme color:
*/
$--color-primary: $--color-brand-500;
$--color-success: $--color-green-500;
$--color-warning: $--color-orange-500;
$--color-danger: $--color-red-500;
$--color-info: $--color-neutral-70;

$--color-text-primary: $--color-neutral-800;
$--color-text-regular: $--color-neutral-600;
$--color-text-secondary: $--color-neutral-70;
$--color-text-placeholder: $--color-neutral-40;
$--border-color-base: $--color-neutral-30;
$--border-color-light: $--color-neutral-20;
$--border-color-lighter: $--color-neutral-10;

$--background-color-base: $--color-neutral-10;

$--border-radius-base: $--borderRadius-sm;

/* Input */
$--input-height: 40px;

/// fontSize||Font|1
$--input-medium-font-size: $--fontSize-base;
$--input-medium-height: 48px;
$--input-small-font-size: $--fontSize-sm;
$--input-small-height: 32px;
$--input-mini-font-size: $--fontSize-sm;
$--input-mini-height: 24px;

// Button
$--button-medium-padding-vertical: 11px;
$--button-medium-padding-horizontal: 16px;

$--button-small-font-size: 14px;
$--button-small-padding-vertical: 7px;
$--button-small-padding-horizontal: 12px;

$--button-mini-font-size: 14px;
$--button-mini-padding-vertical: 3px;
$--button-mini-padding-horizontal: 8px;

// Dropdown
$--dropdown-menu-box-shadow: $--shadow-lg;
$--dropdown-menuItem-hover-fill: $--color-neutral-10;
$--dropdown-menuItem-hover-color: $--color-neutral-700;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
