@import 'variables';

/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss or
`https://github.com/ElemeFE/element/blob/dev/packages/theme-chalk/src/common/var.scss`.

Tip: These must be declared before the import and will automatically override the Element defaults.
For example, to overwrite the theme color:
*/

$--color-primary: $--colors-brand-500;
$--color-success: $--colors-green-500;
$--color-warning: $--colors-orange-500;
$--color-danger: $--colors-red-500;
$--color-info: $--colors-neutral-70;

$--color-text-primary: $--colors-neutral-800;
$--color-text-regular: $--colors-neutral-600;
$--color-text-secondary: $--colors-neutral-70;
$--color-text-placeholder: $--colors-neutral-40;
$--border-color-base: $--colors-neutral-30;
$--border-color-light: $--colors-neutral-20;
$--border-color-lighter: $--colors-neutral-10;

$--background-color-base: $--colors-neutral-10;

$--border-radius-base: $--borderRadius-sm;

/* Input */
$--input-height: 40px;

/// fontSize||Font|1
$--input-medium-font-size: $--fontSize-base;
$--input-medium-height: 48px;
$--input-small-font-size: $--fontSize-sm;
$--input-small-height: 32px;
$--input-mini-font-size: $--fontSize-sm;
$--input-mini-height: 24px;

// Button
$--button-medium-padding-vertical: 11px;
$--button-medium-padding-horizontal: 16px;

$--button-small-font-size: 14px;
$--button-small-padding-vertical: 7px;
$--button-small-padding-horizontal: 12px;

$--button-mini-font-size: 14px;
$--button-mini-padding-vertical: 3px;
$--button-mini-padding-horizontal: 8px;

// Dropdown
$--dropdown-menu-box-shadow: $--boxShadow-lg;
$--dropdown-menuItem-hover-fill: $--colors-neutral-10;
$--dropdown-menuItem-hover-color: $--colors-neutral-700;

/* Table
-------------------------- */
/// color||Color|0
$--table-border-color: $--border-color-light;
$--table-border: 1px solid $--table-border-color;
/// color||Color|0
$--table-header-background-color: rgba($--colors-neutral-10, .8);

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
